<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID">
	<display-name>Avance</display-name>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<listener>
		<listener-class>nucleo.usuario.SessaoLog</listener-class>
	</listener>
	<servlet>
		<description>
		</description>
		<display-name>Distribuidor</display-name>
		<servlet-name>Distribuidor</servlet-name>
		<servlet-class>avance.Distribuidor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Carrega</display-name>
		<servlet-name>Carrega</servlet-name>
		<servlet-class>
		avance.Carrega</servlet-class>
	</servlet>
	<servlet>
		<description>
		Chamada para terminar o processo de login através do identificador openID</description>
		<display-name>
		FinalizaLoginOPenID</display-name>
		<servlet-name>FinalizaLoginOPenID</servlet-name>
		<servlet-class>
		avance.FinalizaLoginOPenID</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Executor</display-name>
		<servlet-name>Executor</servlet-name>
		<servlet-class>
		avance.Executor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Distribuidor</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Carrega</servlet-name>
		<url-pattern>/Carrega</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalizaLoginOPenID</servlet-name>
		<url-pattern>/FinalizaLoginOPenID</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Executor</servlet-name>
		<url-pattern>/Executor/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
