<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>activa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UfServlet</display-name>
    <servlet-name>UfServlet</servlet-name>
    <servlet-class>controlador.UfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UfServlet</servlet-name>
    <url-pattern>/UfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MunicipioServlet</display-name>
    <servlet-name>MunicipioServlet</servlet-name>
    <servlet-class>controlador.MunicipioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MunicipioServlet</servlet-name>
    <url-pattern>/MunicipioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BairroServlet</display-name>
    <servlet-name>BairroServlet</servlet-name>
    <servlet-class>controlador.BairroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BairroServlet</servlet-name>
    <url-pattern>/BairroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoContatoServlet</display-name>
    <servlet-name>TipoContatoServlet</servlet-name>
    <servlet-class>controlador.TipoContatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoContatoServlet</servlet-name>
    <url-pattern>/TipoContatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormacaoAcademicaServlet</display-name>
    <servlet-name>FormacaoAcademicaServlet</servlet-name>
    <servlet-class>controlador.FormacaoAcademicaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormacaoAcademicaServlet</servlet-name>
    <url-pattern>/FormacaoAcademicaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdiomaServlet</display-name>
    <servlet-name>IdiomaServlet</servlet-name>
    <servlet-class>controlador.IdiomaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdiomaServlet</servlet-name>
    <url-pattern>/IdiomaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaInteresseServlet</display-name>
    <servlet-name>AreaInteresseServlet</servlet-name>
    <servlet-class>controlador.AreaInteresseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaInteresseServlet</servlet-name>
    <url-pattern>/AreaInteresseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaArtefatoServlet</display-name>
    <servlet-name>CategoriaArtefatoServlet</servlet-name>
    <servlet-class>controlador.CategoriaArtefatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaArtefatoServlet</servlet-name>
    <url-pattern>/CategoriaArtefatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaComunidadeServlet</display-name>
    <servlet-name>CategoriaComunidadeServlet</servlet-name>
    <servlet-class>controlador.CategoriaComunidadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaComunidadeServlet</servlet-name>
    <url-pattern>/CategoriaComunidadeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagServlet</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>controlador.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstituicaoServlet</display-name>
    <servlet-name>InstituicaoServlet</servlet-name>
    <servlet-class>controlador.InstituicaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstituicaoServlet</servlet-name>
    <url-pattern>/InstituicaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContatoServlet</display-name>
    <servlet-name>ContatoServlet</servlet-name>
    <servlet-class>controlador.ContatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContatoServlet</servlet-name>
    <url-pattern>/ContatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioServlet</display-name>
    <servlet-name>UsuarioServlet</servlet-name>
    <servlet-class>controlador.UsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServlet</servlet-name>
    <url-pattern>/UsuarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroIdiomaServlet</display-name>
    <servlet-name>MembroIdiomaServlet</servlet-name>
    <servlet-class>controlador.MembroIdiomaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroIdiomaServlet</servlet-name>
    <url-pattern>/MembroIdiomaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarServlet</display-name>
    <servlet-name>CadastrarServlet</servlet-name>
    <servlet-class>controlador.CadastrarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarServlet</servlet-name>
    <url-pattern>/CadastrarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroServlet</display-name>
    <servlet-name>MembroServlet</servlet-name>
    <servlet-class>controlador.MembroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroServlet</servlet-name>
    <url-pattern>/MembroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroAmbienteServlet</display-name>
    <servlet-name>MembroAmbienteServlet</servlet-name>
    <servlet-class>controlador.MembroAmbienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroAmbienteServlet</servlet-name>
    <url-pattern>/MembroAmbienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroTagServlet</display-name>
    <servlet-name>MembroTagServlet</servlet-name>
    <servlet-class>controlador.MembroTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroTagServlet</servlet-name>
    <url-pattern>/MembroTagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroMicroBlogServlet</display-name>
    <servlet-name>MembroMicroBlogServlet</servlet-name>
    <servlet-class>controlador.MembroMicroBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroMicroBlogServlet</servlet-name>
    <url-pattern>/MembroMicroBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroContatoServlet</display-name>
    <servlet-name>MembroContatoServlet</servlet-name>
    <servlet-class>controlador.MembroContatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroContatoServlet</servlet-name>
    <url-pattern>/MembroContatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AreaTrabalhoServlet</display-name>
    <servlet-name>AreaTrabalhoServlet</servlet-name>
    <servlet-class>controlador.AreaTrabalhoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaTrabalhoServlet</servlet-name>
    <url-pattern>/AreaTrabalhoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoExtensaoServlet</display-name>
    <servlet-name>CursoExtensaoServlet</servlet-name>
    <servlet-class>controlador.CursoExtensaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoExtensaoServlet</servlet-name>
    <url-pattern>/CursoExtensaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AplicacaoExternaServlet</display-name>
    <servlet-name>AplicacaoExternaServlet</servlet-name>
    <servlet-class>controlador.AplicacaoExternaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplicacaoExternaServlet</servlet-name>
    <url-pattern>/AplicacaoExternaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroMensagensServlet</display-name>
    <servlet-name>MembroMensagensServlet</servlet-name>
    <servlet-class>controlador.MembroMensagensServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroMensagensServlet</servlet-name>
    <url-pattern>/MembroMensagensServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroForumServlet</display-name>
    <servlet-name>MembroForumServlet</servlet-name>
    <servlet-class>controlador.MembroForumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroForumServlet</servlet-name>
    <url-pattern>/MembroForumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroAreaInteresseServlet</display-name>
    <servlet-name>MembroAreaInteresseServlet</servlet-name>
    <servlet-class>controlador.MembroAreaInteresseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroAreaInteresseServlet</servlet-name>
    <url-pattern>/MembroAreaInteresseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroTopicoServlet</display-name>
    <servlet-name>MembroTopicoServlet</servlet-name>
    <servlet-class>controlador.MembroTopicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroTopicoServlet</servlet-name>
    <url-pattern>/MembroTopicoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroCursoServlet</display-name>
    <servlet-name>MembroCursoServlet</servlet-name>
    <servlet-class>controlador.MembroCursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroCursoServlet</servlet-name>
    <url-pattern>/MembroCursoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroFavoritoServlet</display-name>
    <servlet-name>MembroFavoritoServlet</servlet-name>
    <servlet-class>controlador.MembroFavoritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroFavoritoServlet</servlet-name>
    <url-pattern>/MembroFavoritoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroBlogServlet</display-name>
    <servlet-name>MembroBlogServlet</servlet-name>
    <servlet-class>controlador.MembroBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroBlogServlet</servlet-name>
    <url-pattern>/MembroBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MembroAplicacaoServlet</display-name>
    <servlet-name>MembroAplicacaoServlet</servlet-name>
    <servlet-class>controlador.MembroAplicacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MembroAplicacaoServlet</servlet-name>
    <url-pattern>/MembroAplicacaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AplicacaoExternaCometServlet</display-name>
    <servlet-name>AplicacaoExternaCometServlet</servlet-name>
    <servlet-class>controlador.AplicacaoExternaCometServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplicacaoExternaCometServlet</servlet-name>
    <url-pattern>/AplicacaoExternaCometServlet</url-pattern>
  </servlet-mapping>
</web-app>